#ps1

# Making below Network Configurations Permanent
sc.exe config "cloudbase-init" start=disabled
Get-ScheduledTask -TaskName "Packet-Config-Network"
Unregister-ScheduledTask -TaskName "Packet-Config-Network" -Confirm:$false

# SSH Access
Get-WindowsCapability -Online | Where-Object Name -like 'OpenSSH*'
Add-WindowsCapability -Online -Name OpenSSH.Server~~~~0.0.1.0
Start-Service sshd

# OOB Console Access
bcdedit /ems ON

# Add an Interface for the VLAN
# Assuming $bastion_vlan_id contains the VNID of the VLAN
Add-NetLbfoTeamNic -Team bond_bond0 -VlanID ${bastion_vlan_id} -Confirm:$false
New-NetIPAddress -InterfaceAlias 'bond_bond0 - VLAN ${bastion_vlan_id}' -IPAddress ${address} -PrefixLength ${prefix}
Set-DnsClientGlobalSetting -SuffixSearchList '${domain}'
Set-DnsClientServerAddress -InterfaceAlias 'bond_bond0 - VLAN ${bastion_vlan_id}' -ServerAddresses ${bastion_address}
#Set-DnsClientServerAddress -InterfaceAlias 'bond0' -ResetServerAddresses
Set-DnsClientServerAddress -InterfaceAlias 'bond0' -ServerAddresses ${bastion_address}
New-NetRoute -DestinationPrefix ${route_destination} -InterfaceAlias 'bond_bond0 - VLAN ${bastion_vlan_id}' -NextHop ${gateway_address}

Set-LocalUser -Name "Administrator" -Password (ConvertTo-SecureString "${admin_password}" -AsPlainText -Force)
Set-LocalUser -Name "Admin" -Password (ConvertTo-SecureString "${admin_password}" -AsPlainText -Force)

# Update Windows
# Install-Module PSWindowsUpdate -Confirm:$false
# Get-WindowsUpdate -Confirm:$false
# Install-WindowsUpdate -AutoReboot -AcceptAll

# Refresh the view in Server Manager
# Restart-Computer